.mobile.message-header {
  margin-bottom: 1.5rem !important;
padding: 0.5rem;
display: flex;
justify-content: space-between;
}

.message-header {
  margin-bottom: 1.5rem !important;
  padding: 5px 0.5rem 5px 0.5rem;
}